extends layout

block content
  h1= title
  p Welcome to #{title}
  p Get station data
  form(method="POST" action="/")
    div.form-group
      label(for='station') Station:
      input#station.form-control(type='text', placeholder='station' name='station')
    button.btn.btn-primary(type='submit') Access
  div.result
    p #{station}
